body {
  font-family: 'Space Mono', monospace;
  margin: 0px;
}
header{
    position: relative;

}
header .hero_img{
   background-image: url(img/astronaut.jpg); 
   height: 35rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
    margin: 0;
}
header .hero_text{
    font-size: large;
    color: white;
    position: relative;
    top: 10rem;
    left: 2rem;
}

main{
    height: 100%;
    margin: 0px;
    background: url(img/space.jpg);
    color: white;
}




@media (max-width: 768px){

    header .hero_img{
        height: 20rem;
        width: 100%;
    }

    header .hero_text{
    font-size: 0.6rem;
    text-align: center;
    position: fixed;
    top: 6.5rem;
    left: 1rem;
     }
}